<html>

<style>

    #barone{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        text-align:center;
    }

    #barone li{
        display: inline;
        margin: 0px 40px;
    }

</style>

    <body>
        <ul id="barone">

            <li><a href="/home">Home</a></li>
            <li><a href="/dbsummary">Database</a></li>
            <li><a href="/training-reports">Training reports</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </body>
</html>