<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        <title>{% block title %} {% endblock %}</title>
    </style>
</head>
<body>
    <h1 style="text-align:center">Pegaso</h1>

    <h3 style="text-align:center">A fullstack data centric software project</h3>

    {% include "above/navbar.html" %}

    {% block content %} {% endblock %}

    <p style="text-align:right">By Pedro Fernández Soler. This website is developed using Django Python framework. Source <a href="https://github.com/peferso/pegaso-website">code</a>. </p>
</body>
</html>