<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pegaso | A fullstack data science project</title>
</head>
<body>

{% include "above/navbar.html" %}

<h1>Data base summary</h1>
<p>
    The Pegaso project aims to provide a theoretical and quantitative sound estimation of car prices based on data.
</p>
<p>
    Here I describe the contents of the mySQL database in which this project is based.
</p>
<p>
    The database is hosted on an EC2 instance in the AWS cloud, and it is fed weekly by data loads including car prices and other characteristics.
</p>
<p>
    Each load is performed from a remote server, using a pipeline of python scripts and mySQL stored procedures.
</p>
<p>
    After each load the data is used to retrain a machine learning model to estimate car prices.
</p>
<h2>High level information</h2>
<h3>Most recent data load was performed on {{last_update_date.0}} (previous on {{last_update_date.1}})</h3>
<p>The total number of cars in the database is {{list.0}}.</p>

<p>The number of cars added to the database in the current week is {{list.3}}</p>

<p>The number of cars added to the database during the past week is {{list.6}}</p>

<h2>More information</h2>
<h3>Top ten most expensive cars this week</h3>

<table>
  <tr>
    {% for col in top_ten_expensive.columns %}
      <td>
        {{col}}
      </td>
    {% endfor %}
  </tr>
    {% for index, row in top_ten_expensive.iterrows %}
      <tr>
        {% for cell in row %}
          <td>
            {{cell}}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
</table>

<h3>Top ten cheapest cars this week</h3>

<table>
  <tr>
    {% for col in top_ten_cheapests.columns %}
      <td>
        {{col}}
      </td>
    {% endfor %}
  </tr>
    {% for index, row in top_ten_cheapests.iterrows %}
      <tr>
        {% for cell in row %}
          <td>
            {{cell}}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
</table>

</body>
</html>